.container{
    /*width: 700px;*/
    display: grid;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-gap: 10px; /*deixar os dois no mesmo tamanho*/
}

.item{
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}